.btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 35px -5px 0 -5px;
}

.btn-box a {
  width: 175px;
  margin: 5px;
  text-align: center;
}

.btn-box .btn-1 {
  display: inline-block;
  padding: 10px 0;
  background-color: #49922d;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #49922d;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn-box .btn-1:hover {
  background-color: transparent;
  color: #49922d;
}

.btn-box .btn-2 {
  display: inline-block;
  padding: 10px 0;
  background-color: #363636;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #363636;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn-box .btn-2:hover {
  background-color: transparent;
  color: #363636;
}

body {
  font-family: "Righteous", cursive;
  color: #0c0c0c;
  background-color: #ffffff;
}

p {
  font-family: "Open Sans", sans-serif;
}

.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  font-family: "Righteous", cursive;
}

/*header section*/
.hero_area {
  height: 100vh;
  background-color: #49922d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.hero_area::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 95%;
  background-image: url(../images/hero-bg-design.png);
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.sub_page .hero_area {
  height: auto;
}

.sub_page .hero_area::before {
  display: none;
}

.sub_page .hero_area .header_section {
  padding-bottom: 10px;
}

.sub_page .info_section .footer_img {
  display: none;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
  color: #060606;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  color: #49922d;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 125px;
}

.custom_nav-container {
  z-index: 9;
  padding: 0;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 50px;
  width: 30px;
  height: 30px;
}

.lg_toggl-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 56px;
  height: 40px;
  cursor: pointer;
}

.lg_toggl-btn:focus {
  outline: none;
}

.User_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 75px;
}

.User_option .form-inline {
  position: relative;
  margin-right: 15px;
}

.User_option .form-inline input {
  display: none;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 15px;
  top: 7px;
}

.custom_menu-btn button {
  margin-top: 14px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn button span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

.menu_btn-style {
  position: fixed;
  right: 19px;
  top: 7px;
}

.custom_menu-btn .s-2 {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  margin-left: -5px;
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translateY(16px);
          transform: rotate(45deg) translateY(16px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translateY(-16px);
          transform: rotate(-45deg) translateY(-16px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(73, 146, 45, 0.95);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  font-family: "Open Sans", sans-serif;
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

.menu_width.overlay a {
  opacity: 1;
}

/*end header section*/
.plus_btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 90px;
  height: 90px;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  border: none;
  border-radius: 100%;
  outline: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.plus_btn img {
  width: 15px;
}

/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .detail-box {
  margin: 45px 5% 0 5%;
  padding-bottom: 45px;
  color: #ffffff;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
}

.slider_section .detail-box h1 span {
  font-size: 5rem;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  width: auto;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 12px 45px;
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #ffffff;
  border-radius: 3px;
  text-transform: uppercase;
}

.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  color: #ffffff;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .carousel-indicators {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: none;
  border: 2px solid #49922d;
  color: #000000;
  position: relative;
  margin: 0 4px;
  border-radius: 100%;
}

.slider_section .carousel-indicators li.active {
  width: 18px;
  height: 18px;
}

.slider_section .li_before::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 3.5px;
  width: 1.5px;
  height: 17px;
  background-color: #49922d;
  border-radius: 5px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.animal_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.animal_section .detail-box p {
  color: #2e2d2d;
  margin-top: 25px;
}

.animal_section .img-box img {
  width: 100%;
}

.forest_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forest_section .img-box img {
  width: 100%;
}

.forest_section .detail-box p {
  color: #2e2d2d;
  margin-top: 25px;
}

.about_section {
  text-align: center;
}

.about_section .detail-box .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .detail-box .btn-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_section .img-box img {
  width: 100%;
}

.client_section {
  background-image: url(../images/client-bg.jpg);
  background-size: cover;
  color: #ffffff;
  position: relative;
  padding-top: 120px;
  padding-bottom: 145px;
}

.client_section #carouselExampleControls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client_section .box {
  border: 1.5px solid rgba(255, 255, 255, 0.25);
  padding: 35px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 45px;
}

.client_section .box .img-box {
  margin-right: 25px;
  width: 195px;
  min-width: 195px;
}

.client_section .box .img-box img {
  width: 100%;
}

.client_section .box .detail-box h6.profession {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.client_section .box .detail-box p {
  font-family: "Open Sans", sans-serif;
}

.client_section .box .detail-box img {
  width: 25px;
}

.contact_section {
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.contact_section .form_container {
  padding: 0 35px;
}

.contact_section form {
  margin-top: 45px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  color: #000000;
  border: 1px solid #a5a5a5;
}

.contact_section input::-webkit-input-placeholder {
  color: #1c1b1b;
}

.contact_section input:-ms-input-placeholder {
  color: #1c1b1b;
}

.contact_section input::-ms-input-placeholder {
  color: #1c1b1b;
}

.contact_section input::placeholder {
  color: #1c1b1b;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  font-family: "Righteous", cursive;
  display: inline-block;
  padding: 10px 65px;
  background-color: #49922d;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #49922d;
  border-radius: 3px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 35px;
}

.contact_section button:hover {
  background-color: transparent;
  color: #49922d;
}

.contact_section .map_container {
  height: 100%;
  min-height: 325px;
  overflow: hidden;
  margin-left: 45px;
}

.contact_section .map_container .map {
  height: 100%;
}

.contact_section .map_container .map #googleMap {
  height: 100%;
}

.subscribe_section {
  text-align: center;
}

.subscribe_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.subscribe_section .heading_container p {
  font-family: "Open Sans", sans-serif;
  color: #1b1b1b;
}

.subscribe_section .subscribe_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe_section .subscribe_form form input {
  width: 100%;
  height: 50px;
  border: 1px solid #000000;
  outline: none;
  padding-left: 25px;
}

.subscribe_section .subscribe_form form input::-webkit-input-placeholder {
  color: #a2a2a2;
}

.subscribe_section .subscribe_form form input:-ms-input-placeholder {
  color: #a2a2a2;
}

.subscribe_section .subscribe_form form input::-ms-input-placeholder {
  color: #a2a2a2;
}

.subscribe_section .subscribe_form form input::placeholder {
  color: #a2a2a2;
}

.subscribe_section .subscribe_form form button {
  display: inline-block;
  padding: 10px 55px;
  background-color: #49922d;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #49922d;
  border-radius: 5px;
  text-transform: uppercase;
  text-transform: uppercase;
  margin-top: 35px;
}

.subscribe_section .subscribe_form form button:hover {
  background-color: transparent;
  color: #49922d;
}

/* info section */
.info_section {
  position: relative;
  background-color: #0c2303;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.info_section .footer_img {
  width: 20%;
  min-width: 150px;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
}

.info_section .footer_img.fi1 {
  left: 25px;
}

.info_section .footer_img.fi2 {
  right: 25px;
}

.info_section .footer_img img {
  width: 100%;
}

.info_section .social_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  margin-bottom: 35px;
}

.info_section .social_container .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_section .social_container .social_box a {
  margin: 0 10px;
}

.info_section .social_container .social_box a img {
  max-width: 30px;
  max-height: 35px;
}

.info_section .contact_items {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_section .contact_items .item {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info_section .contact_items .item .img-box {
  margin-right: 15px;
}

.info_section .contact_items .item .detail-box {
  color: #3b3b3a;
}

.info_section .contact_items .item .detail-box p {
  margin: 0;
}

.info_section .row > div {
  margin-top: 25px;
}

.info_section a {
  text-transform: none;
}

.info_section h6 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 25px;
}

.info_section p {
  color: #cbc9c9;
}

.info_section .info_link-box ul {
  padding-left: 15px;
}

.info_section .info_link-box ul li.active::before,
.info_section .info_link-box ul li:hover::before {
  background-color: #49922d;
}

.info_section .info_link-box ul li {
  list-style-type: none;
  position: relative;
  margin: 10px 0;
}

.info_section .info_link-box ul li::before {
  content: "";
  left: -15px;
  top: 50%;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: transparent;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 2px solid #ffffff;
}

.info_section .info_link-box ul li a {
  color: #ffffff;
  margin-left: 10px;
}

/* end info section */
/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans", sans-serif;
}

.footer_section p {
  color: #1a1b1a;
  margin: 0;
  padding: 25px 0 20px 0;
  margin: 0 auto;
  text-align: center;
}

.footer_section a {
  color: #1a1b1a;
}

/* end footer section*/
/*# sourceMappingURL=style.css.map */